$white: #fff;
$black: #444;
$true-black: #000;
$grey-lighter: #fafafa;
$grey-light: #f1f1f1;
$grey: #dbdbdb;
$grey-dark: #999;
$grey-darker: #757575;

$blue: #47599b;
$blue-dark: #3d4c85;
$blue-hover: #e7ebf2;
$yellow: #ffc107;
$red: #d0011b;
$green: #4caf50;

$gold: #dbb94e;
$silver: #ccc;
$platinum: #9b9b9b;

$border-radius: 3px;

$white-light-trans: white(.7);
$black-trans: black(.03);
$white-trans: white(.3);
