
<div class="container app-customer">
  <div class="row">
    <div class="col-sm-8">
        <div class="app-customer__header">
            <mat-icon class="app-customer__avatar-icon">account_circle</mat-icon>
            <div class="app-customer__header-details">
                <h4>Kelly Slater</h4>
                <!--<span class="app-customer__header-subtitle">Primary Contact</span>-->
            </div>
            <div class="separator"></div>
            <span class="app-customer__status">Active</span>
            <div class="spacer"></div>
            <button mat-icon-button><mat-icon>lock_outline</mat-icon></button>
            <button mat-icon-button><mat-icon (click)="status()">block</mat-icon></button>
            <button mat-icon-button><mat-icon>more_vert</mat-icon></button>
        </div>
        
        <div class="app-customer__details" *ngIf="mode == 'static'">
            <div class="row">
                <div class="col-3">
                    <span class="app-customer__label">Name:</span>
                </div>
                <div class="col-9">Kelly Slater</div>
            </div>
            <div class="row">
                <div class="col-3">
                    <span class="app-customer__label">Email:</span>
                </div>
                <div class="col-9">kelly.slater@gmail.com</div>
            </div>
            <div class="row">
                <div class="col-3">
                    <span class="app-customer__label">Address:</span>
                </div>
                <div class="col-9">44 Mesa Link, Baldivis, Perth 6171</div>
            </div>
        </div>

        <div class="app-customer__details" *ngIf="mode == 'edit'">
            <app-customer-form></app-customer-form>
        </div>

        <app-notes></app-notes>

    </div>
    <div class="col-sm-4">
        
    </div>
  </div>
</div>