@import '../../styles/variables';

.app-facts {

    // &__heading {
    //     font-size: 1rem;
    //     color: $primary;
    //     font-weight: 500;
    // }

    &__heading {
        font-size: 1rem;
        margin-bottom: 20px;
        font-weight: 500;
    }

    &__contact-container {
        margin-top: 50px;
    }

    &__contacts {
        margin: 20px 0;
        border-bottom: 1px dashed #e0e0e0;
    }

    &__contact {
        border-top: 1px dashed #e0e0e0;
        padding: 10px 15px;
        cursor: pointer;
    }

    &__contact:hover {
        background: #f9f9f9;
    }

    &__contact--avatar {
        border-radius: 3px;
        background: #ddd;
        margin-right: 10px;
        width: 36px;
        height: 36px;
        display: inline-block;
        margin-top: 6px;
        text-align: center;
    }

    &__contact--avatar mat-icon {
        color: #fff;
        margin-top: 5px;
    }

    &__contact--text {
        display: inline-block;
        vertical-align: top;
        display: inline-block;
    }

    &__contact--title {
        font-weight: 600;
        font-size: 1rem;
        display: block;
        line-height: 1.5rem;
    }

    &__contact--description {
        font-weight: 400;
        font-size: 0.9rem;
        display: block;
    }

    &__contact--content {
        position: relative;
    }

    &__contact--arrow {
        position: absolute;
        top: 14px;
        right: 14px;
        color: #888;
    }
    
    &__step {
        display: inline-block;
        text-align: center;
        padding: 10px 30px;

        &--title {
            color: #ff0000;
            font-weight: 600;
            margin-top: 5px;
        }

        &--button {
            font-weight: 700;
        }
    }

    &__section {
        border: 1px solid #d8d8d8;
        border-radius: 5px;
        padding: .6rem 0 .6rem 1rem;
        margin-bottom: 10px;

        &--heading {
            font-size: 1rem;
            margin-bottom: 20px;
            margin-top: 30px;
            font-weight: 500;
        }

        &--content {
            height: 36px;
            position: relative;
        }

        &--avatar {
            border-radius: 3px;
            // background: #fff;
            // border: 1px solid #e8e8e8;
            margin-right: 7px;
            width: 36px;
            height: 36px;
            display: inline-block;
            text-align: center;
        }

        &--avatar mat-icon {
            margin-top: 5px;
            // color: #fff;
        }

        &--title {
            font-size: 1rem;
            font-weight: 500;
            vertical-align: top;
            line-height: 36px;
            display: inline-block;
        }

        &--action {
            position: absolute;
            right: 15px;
            top: 3px;
        }

        &--action-btn {
            border: 1px solid #d8d8d8;
            background: transparent;
        }

        &--action-btn:hover {
            background: #fff;
        }
    }

    &__active-section {
        background: #fff;

        .app-facts__section--title {
            color: $primary;
        }

        .app-facts__section--action-btn {
            border: none;
        }

        .app-facts__section--avatar {
            background: transparent;
            border: none;
        }

        .app-facts__section--avatar mat-icon {
            color: $primary;
            margin-top: 7px;
        }
    }

    &__active-contact {
        background: #fff;
        border-right: 1px dashed #e0e0e0;
        border-left: 1px dashed #e0e0e0;

        .app-facts__contact--avatar {
            background: #007eff;
            margin-top: 0;
        }

        .app-facts__contact--title {
            line-height: 36px;
            color: $primary;
        }

        .app-facts__contact--arrow {
            top: 8px;
            color: $primary;
        }

    }
}