
.app-container {
    margin-top: 64px;
    width: 100%;

    &__list-item {
        padding: 0;
        margin: 0;
    }

    .app-content {
    }

    .mat-pseudo-checkbox {
        display: none;
    }

    .app-sidenav {
        width: 200px;
    }

    .menu-container {
        margin-top: 20px;
    }

    .mat-menu-item {
        padding: 0 22px;
        font-size: 14px;
        font-weight: 500;
    }

    .mat-menu-item .mat-icon {
        // font-size: 22px;
        color: #757575;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;
    }

    .card {
      flex: 1 0 280px;
      margin: 10px;
      box-sizing: border-box;
    }

    .example-header-image {
      background-image: url('/assets/images/cf.jpg');
      background-size: cover;
    }

    .container {
      max-width: 1200px;
    }

}

// @media screen and (min-width: 40em) {
//     .card {
//        max-width: calc(50% -  1em);
//     }
// }

// @media screen and (min-width: 60em) {
//     .card {
//         max-width: calc(25% - 1em);
//     }
// }

.centered {
    margin: 0 auto;
    padding: 0 1em;
}

@media screen and (min-width: 52em) {
    .centered {
        max-width: 52em;
    }
}
