<div class="app-create-contact">

  <form [formGroup]="group" (ngSubmit)="save()">
    <div class="app-create-contact__content">

      <div class="app-create-contact__row app-create-contact__header">
          <h2>Personal Information</h2>
      </div>

      <div class="app-create-contact__row row">
          <div class="form-group">
            <label for="fullname">Fullname</label>
            <input type="text" class="form-control" placeholder="Name">
          </div>
      </div>

      <div class="app-create-contact__row row">
          <div class="form-group">
            <label for="dob">Date Of Birth</label>
            <input type="text" class="form-control" placeholder="Name">
          </div>
      </div>

      <div class="app-create-contact__row row">
          <div class="form-group">
            <label for="country">Country of Birth</label>
            <input type="text" class="form-control" placeholder="Name">
          </div>
      </div>

      <div class="app-create-contact__row row">
          <div class="form-group">
            <label for="country">Home Number</label>
            <input type="text" class="form-control" placeholder="Name">
          </div>
      </div>

      <div class="app-create-contact__row row">
          <div class="form-group">
            <label for="country">Mobile</label>
            <input type="text" class="form-control" placeholder="Name">
          </div>
      </div>

      <div class="app-create-contact__row row">
          <div class="form-group">
            <label for="country">Email</label>
            <input type="text" class="form-control" placeholder="Name">
          </div>
      </div>

      <div class="app-create-contact__row row">
          <div class="form-group">
            <label for="country">Employer</label>
            <input type="text" class="form-control" placeholder="Name">
          </div>
      </div>

      <div class="app-create-contact__row row">

        <div class="app-create-contact__col col-6">
          <div class="form-group">
            <label for="country">Pay Rate</label>
            <input type="text" class="form-control" placeholder="Name">
          </div>
        </div>
        <div class="app-create-contact__col--end col-6">
          <div class="form-group">
            <label for="country">Frequency</label>
            <input type="text" class="form-control" placeholder="Name">
          </div>
        </div>

      </div>

      <div class="app-create-contact__row app-create-contact__header">
          <h2>Personal Information</h2>
      </div>

      <div class="app-create-contact__row row">
          <div class="form-group">
            <label for="fullname">Fullname</label>
            <input type="text" class="form-control" placeholder="Name">
          </div>
      </div>

      <div class="app-create-contact__row row">
          <div class="form-group">
            <label for="dob">Date Of Birth</label>
            <input type="text" class="form-control" placeholder="Name">
          </div>
      </div>

      <div class="app-create-contact__row row">
          <div class="form-group">
            <label for="country">Country of Birth</label>
            <input type="text" class="form-control" placeholder="Name">
          </div>
      </div>

      <div class="app-create-contact__row row">
          <div class="form-group">
            <label for="country">Home Number</label>
            <input type="text" class="form-control" placeholder="Name">
          </div>
      </div>

      <div class="app-create-contact__row row">
          <div class="form-group">
            <label for="country">Mobile</label>
            <input type="text" class="form-control" placeholder="Name">
          </div>
      </div>

      <div class="app-create-contact__row row">
          <div class="form-group">
            <label for="country">Email</label>
            <input type="text" class="form-control" placeholder="Name">
          </div>
      </div>

      <div class="app-create-contact__row row">
          <div class="form-group">
            <label for="country">Employer</label>
            <input type="text" class="form-control" placeholder="Name">
          </div>
      </div>

      <!-- <div class="row">
        <div class="col-sm-4">
            <mat-form-field class="app-create-client-form__field">
              <input matInput placeholder="First Name" formControlName="firstname">
              <mat-error *ngIf="personalFormGroup.controls['middlename'].hasError('required')">
                First name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
        </div>
        <div class="col-sm-4">
            <mat-form-field class="app-create-client-form__field">
              <input matInput placeholder="Middle Name" formControlName="middlename">
            </mat-form-field>
        </div>
        <div class="col-sm-4">
            <mat-form-field class="app-create-client-form__field">
              <input matInput placeholder="Last Name" formControlName="surname">
              <mat-error *ngIf="personalFormGroup.controls['surname'].hasError('required')">
                Last name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
        </div>
      </div> -->

      <!-- <mat-form-field>
          <mat-select formControlName="title" placeholder="Title" >
            <mat-option *ngFor="let titl of titles" [value]="titl">
              {{ titl }}
            </mat-option>
          </mat-select>
        </mat-form-field> -->


    </div>
    <div class="app-create-contact__actions">
      <div class="spacer"></div>
      <button type="button" class="mr5" color="primary" mat-button (click)="cancel()">CANCEL</button>
      <button color="primary" class="no-shadow" mat-raised-button>SAVE</button>
    </div>
  </form>
</div>
