@import '../../../styles/variables';

.app-create-contact {
  &__hero {
    text-align: center;
    width: 100%;
  }

  &__header {
    margin-bottom: 20px;
  }

  h2 {
    color: #434548;
    font-size: 1rem;
  }

  &__input {
    width: 400px;
  }

  &__actions {
    display: flex;
    box-sizing: border-box;
    padding: 20px;
  }

  &__content {
    padding: 20px;
    overflow-y: scroll;
    max-height: 90vh;
  }

  &__row {

  }

  &__col {

    &--end {
      padding-right: 0;
    }

    padding-left: 0;
  }

  .form-group {
    width: 100%;
  }

  label {
    color: #484848;
    font-weight: 600;
    display: block;
  }

  &__actions {
    display: flex;
    box-sizing: border-box;
    padding: 10px;
    border-top: 1px solid #eaeaea;
    background: #fafafa;

    h2 {
      color: $primary;
    }
  }

}
