<div *ngIf="(state$ | async)!.loading" class="app-clients">
  <div class="app-clients__loader">
    <mat-spinner diameter="25" strokeWidth="3"></mat-spinner>
  </div>
</div>

<div *ngIf="(state$ | async)!.loading === false" class="app-clients">
  <div class="col-8">
    <div class="app-clients__header">
        <button class="mr5 action-btn" color="primary" mat-raised-button (click)="create()">NEW</button>
        <div class="separator"></div>
        <span class="app-clients__header--total">{{(state$ | async).clients.length}} Clients</span>
    </div>

    <!--<table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th class="app-clients__actions-col">
            ...
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="app-clients__row" *ngFor="let client of (state$ | async).clients">
          <td class="app-clients__primary-column">Client</td>
          <td class="app-clients__actions-col">
            <button class="app-clients__action-btn" mat-icon-button><mat-icon class="app-clients__action-icon">more_vert</mat-icon></button>
          </td>
        </tr>
      </tbody>
    </table>-->
    <!--<ngx-datatable
      class="bootstrap"
      [rows]="rows"
      [columns]="columns"
      [sortType]="'multi'"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="50"
      [scrollbarV]="true"
      [limit]="10"
    >
    </ngx-datatable>-->

    <!--<ngx-datatable
        class="bootstrap"
        [rows]="rows"
        [loadingIndicator]="loadingIndicator"
        [columns]="columns"
        [columnMode]="'force'"
        [headerHeight]="40"
        [footerHeight]="40"
        [limit]="10"
        [rowHeight]="'auto'"
        [reorderable]="reorderable">
      </ngx-datatable>-->

    <ngx-datatable
        class="material"
        [rows]="rows"
        [columns]="[{name:'Name'},{name:'Gender'},{name:'Company'}]"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [limit]="10">
      </ngx-datatable>

  </div>
</div>

