<div *ngIf="status == 'app'">
    <mat-toolbar class="app-header" [color]="(state$ | async).app.menuColour">
      <mat-toolbar-row>
        <button mat-icon-button (click)="toggle()">
          <mat-icon>menu</mat-icon>
        </button>

        <h5 class="app-header__logo">Fightclub</h5>
        <div class="menu-separator"></div>
        <h5 class="app-header__title">{{(state$ | async).app.title}}</h5>

        <!-- <app-search></app-search> -->

        <span class="spacer"></span>
        <app-notifications [notifications]="notifications" (update)="updateNotifications()"></app-notifications>
        <button mat-icon-button routerLink="clients"><mat-icon>favorite</mat-icon></button>
        <button mat-icon-button routerLink="clients"><mat-icon>keyboard_arrow_left</mat-icon></button>
        <button mat-icon-button routerLink="/login"><mat-icon>person</mat-icon></button>
      </mat-toolbar-row>

      <mat-toolbar-row class="action-row" *ngIf="(state$ | async).app.state === 'homex'">

        <button mat-button>Schedules</button>
        <mat-icon>keyboard_arrow_right</mat-icon>
        <button mat-button>Scheduler</button>
        <div class="sub-menu">
          <mat-tab-group>
            <mat-tab label="FOLLOWING"></mat-tab>
            <mat-tab label="SCHEDULER"></mat-tab>
            <mat-tab label="TYPES"></mat-tab>
          </mat-tab-group>
          <div class="separator" style="margin-top: 16px;"></div>
          <button mat-button color="primary">SCHEDULE</button>
        </div>
      </mat-toolbar-row>

      <mat-toolbar-row class="action-row">
        <div class="toolbar-placeholder"></div>
        <div class="container">
          <div class="row">
            <div class="sub-menu">
                <mat-tab-group (selectedIndexChange)="selectedIndexChange($event)" class="app-container__tabs-light">
                  <mat-tab label="OVERVIEW" active="true"></mat-tab>
                  <mat-tab label="CONTACTS"></mat-tab>
                  <mat-tab label="FINANCIALS"></mat-tab>
                  <mat-tab label="PROTECTION"></mat-tab>
                  <mat-tab label="INVESTMENT"></mat-tab>
                </mat-tab-group>
            </div>
          </div>
        </div>
      </mat-toolbar-row>

      <!--<mat-toolbar-row class="subaction-row">
        <div class="toolbar-placeholder"></div>
        <div class="container">
          <div class="row">
            <div class="sub-menu light-menu">
                <mat-tab-group (selectedIndexChange)="incomeSelectedIndexChange($event)">
                  <mat-tab label="SUMMARY" active="true"></mat-tab>
                  <mat-tab label="CLIENTS"></mat-tab>
                  <mat-tab label="LOANS"></mat-tab>
                  <mat-tab label="INSURANCE"></mat-tab>
                  <mat-tab label="FINANCIALS"></mat-tab>
                  <mat-tab label="WORKFLOW"></mat-tab>
                  <mat-tab label="RECORDS"></mat-tab>
                </mat-tab-group>
            </div>
          </div>
        </div>
      </mat-toolbar-row>-->

    </mat-toolbar>

    <mat-menu></mat-menu>

    <mat-sidenav-container fullscreen class="app-container" [ngStyle]="(state$ | async).app.styles" >

      <mat-sidenav #sidenav class="app-sidenav" mode="side" opened="true">

          <div *ngIf="(state$ | async).app.state === 'home'" class="menu-container">
            <button class="mat-menu-item" mat-menu-item="" routerLink=""><mat-icon>home</mat-icon> Home
              <div class="mat-menu-ripple mat-ripple" matRipple></div>
            </button>

            <button class="mat-menu-item" mat-menu-item="" routerLink="customers"><mat-icon>language</mat-icon> Schedules
              <div class="mat-menu-ripple mat-ripple" matRipple></div>
            </button>

            <button class="mat-menu-item" mat-menu-item="" routerLink="customers"><mat-icon>event</mat-icon> Sessions
              <div class="mat-menu-ripple mat-ripple" matRipple></div>
            </button>

            <button class="mat-menu-item" mat-menu-item="" routerLink="dashboard"><mat-icon>fingerprint</mat-icon> Australia
              <div class="mat-menu-ripple mat-ripple" matRipple></div>
            </button>

            <button class="mat-menu-item" mat-menu-item="" routerLink="contacts"><mat-icon>person</mat-icon> Staff
              <div class="mat-menu-ripple mat-ripple" matRipple></div>
            </button>

            <button class="mat-menu-item" mat-menu-item="" routerLink="clients"><mat-icon>people</mat-icon> Clients
              <div class="mat-menu-ripple mat-ripple" matRipple></div>
            </button>

            <button class="mat-menu-item" mat-menu-item="" routerLink="users"><mat-icon>people</mat-icon> Users
              <div class="mat-menu-ripple mat-ripple" matRipple></div>
            </button>

            <button class="mat-menu-item" mat-menu-item="" routerLink="customers"><mat-icon>account_circle</mat-icon> Account
              <div class="mat-menu-ripple mat-ripple" matRipple></div>
            </button>
          </div>

          <div *ngIf="(state$ | async).app.state === 'client'" class="menu-container">
            <button class="mat-menu-item" mat-menu-item="" routerLink=""><mat-icon>home</mat-icon> Home
              <div class="mat-menu-ripple mat-ripple" matRipple></div>
            </button>
            <button class="mat-menu-item" mat-menu-item="" routerLink="customers"><mat-icon>event</mat-icon> Sessions
              <div class="mat-menu-ripple mat-ripple" matRipple></div>
            </button>
            <button class="mat-menu-item" mat-menu-item="" routerLink="dashboard"><mat-icon>fingerprint</mat-icon> Australia
              <div class="mat-menu-ripple mat-ripple" matRipple></div>
            </button>
            <button class="mat-menu-item" mat-menu-item="" routerLink="clients"><mat-icon>people</mat-icon> Contacts
              <div class="mat-menu-ripple mat-ripple" matRipple></div>
            </button>
          </div>

      </mat-sidenav>

      <div class="app-content">

          <div class="container" style="padding-top: 20px;">

            <router-outlet></router-outlet>

          </div>

      </div>
    </mat-sidenav-container>
