@import '../../styles/variables';

.app-search {
  max-width: 720px;
  height: 100%;

  // &:after {
  //   display: block;
  //   content: 'search';
  //   font-family: 'Material Icons';
  //   font-size: 22px;
  //   color: #999;
  //   position: absolute;
  //   top: 9px;
  //   left: 14px;
  // }

  &__container {
    background: #fafafa;
    border-radius: $border-radius;
    border: 1px solid #eaeaea;
  }

  &__input {
    min-width: 360px;
    height: 40px;
    border: none;
    background: transparent;
    padding: 10px 10px 10px 20px;
    color: #444;
    font-size: 16px;
    font-weight: 400;
  }

  &__input:focus {
    outline: none;
  }

}

@media (max-width: 600px) {

  .app-search {
    padding-top: 8px;
    &__input {
      width: 360px;
      height: 20px;
      border: none;
      background: transparent;
      padding: 10px 10px 10px 40px;
      color: $black;
    }
  }

}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:   $placeholder;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    $placeholder;
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    $placeholder;
  opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:    $placeholder;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color:    $placeholder;
}
