<div *ngIf="(state$ | async)!.contact.loading" class="app-clients">
  <div class="app-clients__loader">
    <mat-spinner diameter="25" strokeWidth="3"></mat-spinner>
  </div>
</div>

<div *ngIf="(state$ | async)!.contact.loading === false" class="app-clients">
  <div class="app-clients__header">
      <button class="mr5" color="primary" mat-raised-button (click)="create()"><mat-icon>add</mat-icon> NEW</button>
      <div class="separator"></div>
      <span class="app-clients__header--total">{{(state$ | async).contact.contacts.length}} Clients</span>
  </div>
  <app-clients-table [contacts]="(state$ | async).contact.contacts"></app-clients-table>
</div>

