@import 'app/styles/variables';

.app-customers {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  &__header {
    background: #fff;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    padding: 4px 4px 4px 6px;
    border: 1px solid #dedede;
    margin-bottom: 10px;
  }

  &__header--total {
    color: $primary;
    font-weight: 600;
  }

  .mat-header-row {
    background: #fafafa;
    padding: 1px 10px 1px 20px;
    color: inherit;
  }

  .mat-header-cell {
    color: inherit;
  }

  .mat-row {
    padding: 1px 10px 1px 20px;
    cursor: pointer;
    border-bottom: 1px dashed #eaeaea;
    font-size: 0.9rem;
  }

  .mat-header-row, .mat-row {
    min-height: 36px;
  }

  .mat-table {
      border: 1px solid #dedede;
      border-bottom: none;
      overflow: auto;
  }

  .actions-cell {
      flex: 0.15;
  }

  .name-cell {
    // flex: 3;
  }

  .name-cell-value {
    color: $primary;
    font-weight: 600;
  }

  .mat-cell {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .flx-1 {
    flex: 1;
  }

  .flx-2 {
    flex: 2;
  }

  .flx-3 {
    flex: 2;
  }

  .flx--6 {
    flex: 0.6;
  }

  .flx--4 {
    flex: 0.4;
  }

  .mat-paginator {
    border: 1px solid #dedede;
    border-top: none;
  }

  .mat-sort-header-arrow {
    margin: 3px 0 0 6px;
  }

}
