@import '../../styles/variables';

.app-customer {
    &__header {
        background: #fafafa;
        display: flex;
        box-sizing: border-box;
        width: 100%;
        flex-direction: row;
        align-items: center;
        white-space: nowrap;
        padding: 10px 15px;
        border: 1px solid #dedede;
    }

    &__header button {
        color: #999;
    }

    &__header-details {
        margin-left: 10px;
    }

    &__header-details h4 {
        margin: 0;
        font-size: 15px;
        font-weight: 500;
        line-height: 0.7rem;
        color: $primary;
    }

    &__header-subtitle {
        margin: 0;
        font-size: 0.7rem;
        font-weight: 400;
        color: #666;
    }

    &__status {
        padding: 3px 10px 5px 10px;
        border: 1px solid #b0e4c7;
        background: #d8f1e0;
        color: #009020;
        font-weight: 500;
        font-size: 13px;
    }

    &__avatar {
        overflow: hidden;
    }

    &__avatar-icon {
        color: $primary;
    }

    &__details {
        background: #fff;
        border-left: 1px solid #dedede;
        border-right: 1px solid #dedede;
        border-bottom: 1px solid #dedede;
        padding: 25px;
        font-size: 13px;
        margin-bottom: 20px;
    }

    &__label-title {
      color: $primary;
      font-weight: 600;
      font-size: 13px;
    }

    &__label {
        color: #000;
        font-weight: 600;
        font-size: 13px;
    }

    &__label-icon {
      font-size: 1rem;
      width: 16px;
      height: 16px;
      line-height: 10px;
      vertical-align: bottom;
  }

    &__value {
      font-size: 13px;
    }

    &__details .row {
        margin-bottom: 10px;
    }

    &__details .col-3, &__details .col-5, &__details .col-2 {
        text-align: right;
    }

    &__divider {
      float: right;
      margin: 20px 0;
      width: 75%;
      border-bottom: 1px solid #eaeaea;
    }
}

.plain {
    padding: 5px 10px;
}

.plain:focus {
    outline: #00FF00 dotted thick;
}
