<div class="app-notifications">
  <!--<div *ngIf="hasNotifications" class="app-notifications__badge">{{ badgeCount }}</div>-->
  <!--<ui-icon-button (click)='toggleNotifications()'>
    <ui-icon>notifications</ui-icon>
  </ui-icon-button>-->

  <button mat-icon-button (click)="toggleNotifications()">
        <mat-icon>dashboard</mat-icon>
  </button>

  <app-top-bar-menu [open]="notificationsOpen" (clickAway)="hideNotifications()">

    <button class="mat-menu-item app-notifications__item" mat-menu-item="" *ngFor="let notification of notifications" (click)="handleClick(notification)">
      <h3>
        <span *ngIf="notification.priority == 1" class="app-notifications__indicator app-notifications__red"></span>
        <span *ngIf="notification.priority == 2" class="app-notifications__indicator app-notifications__yellow"></span>
        <span *ngIf="notification.priority == 3" class="app-notifications__indicator app-notifications__grey"></span>
        {{ notification.title }}
      </h3>
      <p class="truncate">{{ notification.message }}</p>
      <div class="mat-menu-ripple mat-ripple" matRipple></div>
    </button>
    <div *ngIf="!hasNotifications" class="app-notifications__empty">
      No new notifications
    </div>

  </app-top-bar-menu>
</div>
