@import '../../styles/variables';

.app-snackbar-notification {
  background: #ff0000 !important;
}


.cdk-overlay-pane .app-snackbar-notification {
  color: #027b1d !important;
  padding: 20px 32px;


  &__block--success {
    background: $success-background;
    color: #027b1d !important;
  }

  &__block--error {
    background: $error-background;
  }

  &__block--warning {
    background: $warning-background;
  }

  &__icon {
    vertical-align: middle;
    line-height: 20px;
    margin-right: 10px;

    &--success {
      color: $success;
    }

    &--error {
      color: $error;
    }

    &--warning {
      color: $warning;
    }
  }

}
