<div class="fact-menu">
    <div class="fact-menu__item fact-menu__active-item">
        <mat-icon>check_circle</mat-icon>
        <span class="fact-menu__item--title">
            Clients
        </span>
    </div>

    <div class="fact-menu__item fact-menu__active-item">
        <mat-icon>person</mat-icon>
        <span class="fact-menu__item--title">
            Financials
        </span>
    </div>

    <div class="fact-menu__item">
        <mat-icon>person</mat-icon>
        <span class="fact-menu__item--title">
            Clients
        </span>
    </div>

</div>