@import '../../../styles/variables';

.fact-menu {
    border-radius: 5px;
    border: 1px solid #efefef;
    border-bottom: none;

    &__item:first-child {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    &__item {
        
        padding: 5px 15px;
        border-bottom: 1px solid #efefef;
        // margin-bottom: 5px;

        &--title {
            font-size: 0.9rem;
            font-weight: 500;
            vertical-align: top;
            line-height: 36px;
            display: inline-block;
        }

        mat-icon {
            margin-top: 5px;
            margin-right: 10px;
        }
    }

    &__active-item {
        background: #fff;

        .fact-menu__item--title {
            color: $primary;
        }

        mat-icon {
            color: $primary;
        }

    }

    &__item:hover {
        background: #fbfbfb;
        cursor: pointer;
    }
}