<div class="app-current-protection">
  <div class="col-8">

    <form [formGroup]="incomeGroup">
      <div class="app-current-protection__content">

        <div class="app-current-protection__row app-current-protection__header app-current-protection__heading">
            <h2>Protection - What you have now</h2>
        </div>

        <div class="app-current-protection__row app-current-protection__section">
            <h2>Life Insurance</h2>
        </div>

        <div class="app-current-protection__row row">
          <div class="app-current-protection__col col-6">
            <div class="form-group">
              <label for="name">Amount Insured</label>
              <input type="text" class="form-control" placeholder="Client 1">
            </div>
          </div>
          <div class="app-current-protection__col--nopad col-6">
            <div class="form-group">
              <label for="name">&nbsp;</label>
              <input type="text" class="form-control" placeholder="Client 2">
            </div>
          </div>
        </div>

        <div class="app-current-protection__row row">
          <div class="app-current-protection__col col-6">
            <div class="form-group">
              <label for="name">Premiums</label>
              <input type="text" class="form-control" placeholder="Client 1">
            </div>
          </div>
          <div class="app-current-protection__col--nopad col-6">
            <div class="form-group">
              <label for="name">&nbsp;</label>
              <input type="text" class="form-control" placeholder="Client 2">
            </div>
          </div>
        </div>

        <div class="app-current-protection__row row">
          <div class="app-current-protection__col col-6">
            <div class="form-group">
              <label for="name">Maturity Date</label>
              <input type="text" class="form-control" placeholder="Client 1">
            </div>
          </div>
          <div class="app-current-protection__col--nopad col-6">
            <div class="form-group">
              <label for="name">&nbsp;</label>
              <input type="text" class="form-control" placeholder="Client 2">
            </div>
          </div>
        </div>

        <div class="app-current-protection__row row">
          <div class="app-current-protection__col col-6">
            <div class="form-group">
              <label for="name">Insurer</label>
              <input type="text" class="form-control" placeholder="Client 1">
            </div>
          </div>
          <div class="app-current-protection__col--nopad col-6">
            <div class="form-group">
              <label for="name">&nbsp;</label>
              <input type="text" class="form-control" placeholder="Client 2">
            </div>
          </div>
        </div>


        <div class="app-current-protection__row app-current-protection__section">
            <h2>Income Protection</h2>
        </div>

        <div class="app-current-protection__row row">
          <div class="app-current-protection__col col-6">
            <div class="form-group">
              <label for="name">Amount Covered</label>
              <input type="text" class="form-control" placeholder="Client 1">
            </div>
          </div>
          <div class="app-current-protection__col--nopad col-6">
            <div class="form-group">
              <label for="name">&nbsp;</label>
              <input type="text" class="form-control" placeholder="Client 2">
            </div>
          </div>
        </div>

        <div class="app-current-protection__row row">
          <div class="app-current-protection__col col-6">
            <div class="form-group">
              <label for="name">Premiums</label>
              <input type="text" class="form-control" placeholder="Client 1">
            </div>
          </div>
          <div class="app-current-protection__col--nopad col-6">
            <div class="form-group">
              <label for="name">&nbsp;</label>
              <input type="text" class="form-control" placeholder="Client 2">
            </div>
          </div>
        </div>

        <div class="app-current-protection__row row">
          <div class="app-current-protection__col col-6">
            <div class="form-group">
              <label for="name">Insurer</label>
              <input type="text" class="form-control" placeholder="Client 1">
            </div>
          </div>
          <div class="app-current-protection__col--nopad col-6">
            <div class="form-group">
              <label for="name">&nbsp;</label>
              <input type="text" class="form-control" placeholder="Client 2">
            </div>
          </div>
        </div>


        <div class="app-current-protection__row app-current-protection__section">
            <h2>Trauma Protection</h2>
        </div>

        <div class="app-current-protection__row row">
          <div class="app-current-protection__col col-6">
            <div class="form-group">
              <label for="name">Amount Covered</label>
              <input type="text" class="form-control" placeholder="Client 1">
            </div>
          </div>
          <div class="app-current-protection__col--nopad col-6">
            <div class="form-group">
              <label for="name">&nbsp;</label>
              <input type="text" class="form-control" placeholder="Client 2">
            </div>
          </div>
        </div>

        <div class="app-current-protection__row row">
          <div class="app-current-protection__col col-6">
            <div class="form-group">
              <label for="name">Premiums</label>
              <input type="text" class="form-control" placeholder="Client 1">
            </div>
          </div>
          <div class="app-current-protection__col--nopad col-6">
            <div class="form-group">
              <label for="name">&nbsp;</label>
              <input type="text" class="form-control" placeholder="Client 2">
            </div>
          </div>
        </div>

        <div class="app-current-protection__row row">
          <div class="app-current-protection__col col-6">
            <div class="form-group">
              <label for="name">Insurer</label>
              <input type="text" class="form-control" placeholder="Client 1">
            </div>
          </div>
          <div class="app-current-protection__col--nopad col-6">
            <div class="form-group">
              <label for="name">&nbsp;</label>
              <input type="text" class="form-control" placeholder="Client 2">
            </div>
          </div>
        </div>

        <div class="app-current-protection__row app-current-protection__section">
            <h2>General Insurance</h2>
        </div>

        <div class="app-current-protection__row row">
          <div class="app-current-protection__col col-6">
            <div class="form-group">
              <label for="name">Home</label>
              <input type="text" class="form-control" placeholder="Client 1">
            </div>
          </div>
          <div class="app-current-protection__col--nopad col-6">
            <div class="form-group">
              <label for="name">&nbsp;</label>
              <input type="text" class="form-control" placeholder="Client 2">
            </div>
          </div>
         
        </div>

        <div class="app-current-protection__row row">
          <div class="app-current-protection__col col-6">
            <div class="form-group">
              <label for="name">Contents</label>
              <input type="text" class="form-control" placeholder="Client 1">
            </div>
          </div>
          <div class="app-current-protection__col--nopad col-6">
            <div class="form-group">
              <label for="name">&nbsp;</label>
              <input type="text" class="form-control" placeholder="Client 2">
            </div>
          </div>
          
        </div>

        <div class="app-current-protection__row row">
          <div class="app-current-protection__col col-6">
            <div class="form-group">
              <label for="name">Car</label>
              <input type="text" class="form-control" placeholder="Client 1">
            </div>
          </div>
          <div class="app-current-protection__col--nopad col-6">
            <div class="form-group">
              <label for="name">&nbsp;</label>
              <input type="text" class="form-control" placeholder="Client 2">
            </div>
          </div>
          
        </div>

        <div class="app-current-protection__row row">
          <div class="app-current-protection__col col-6">
            <div class="form-group">
              <label for="name">Other</label>
              <input type="text" class="form-control" placeholder="Client 1">
            </div>
          </div>
          <div class="app-current-protection__col--nopad col-6">
            <div class="form-group">
              <label for="name">&nbsp;</label>
              <input type="text" class="form-control" placeholder="Client 2">
            </div>
          </div>
          
        </div>

        <div class="app-current-protection__row app-current-protection__section">
            <h2>Disability Insurance</h2>
        </div>

        <div class="app-current-protection__row row">
          <div class="app-current-protection__col col-6">
            <div class="form-group">
              <label for="name">Amount Insured</label>
              <input type="text" class="form-control" placeholder="Client 1">
            </div>
          </div>
          <div class="app-current-protection__col--nopad col-6">
            <div class="form-group">
              <label for="name">&nbsp;</label>
              <input type="text" class="form-control" placeholder="Client 2">
            </div>
          </div>
          
        </div>

        <div class="app-current-protection__row row">
          <div class="app-current-protection__col col-6">
            <div class="form-group">
              <label for="name">Premiums</label>
              <input type="text" class="form-control" placeholder="Client 1">
            </div>
          </div>
          <div class="app-current-protection__col--nopad col-6">
            <div class="form-group">
              <label for="name">&nbsp;</label>
              <input type="text" class="form-control" placeholder="Client 2">
            </div>
          </div>
        </div>

        <div class="app-current-protection__row row">
          <div class="app-current-protection__col col-6">
            <div class="form-group">
              <label for="name">Maturity Date</label>
              <input type="text" class="form-control" placeholder="Client 1">
            </div>
          </div>
          <div class="app-current-protection__col--nopad col-6">
            <div class="form-group">
              <label for="name">&nbsp;</label>
              <input type="text" class="form-control" placeholder="Client 2">
            </div>
          </div>
          
        </div>

        <div class="app-current-protection__row row">
          <div class="app-current-protection__col col-6">
            <div class="form-group">
              <label for="name">Insurer</label>
              <input type="text" class="form-control" placeholder="Client 1">
            </div>
          </div>
          <div class="app-current-protection__col--nopad col-6">
            <div class="form-group">
              <label for="name">&nbsp;</label>
              <input type="text" class="form-control" placeholder="Client 2">
            </div>
          </div>
        </div>


        <div class="app-current-protection__row app-current-protection__section">
            <h2>Health Insurance</h2>
        </div>

        <div class="app-current-protection__row row">
          <div class="app-current-protection__col col-6">
            <div class="form-group">
              <label for="name">Provider</label>
              <input type="text" class="form-control" placeholder="Client 1">
            </div>
          </div>
          <div class="app-current-protection__col--nopad col-6">
            <div class="form-group">
              <label for="name">&nbsp;</label>
              <input type="text" class="form-control" placeholder="Client 2">
            </div>
          </div>
          
        </div>

        <div class="app-current-protection__row row">
          <div class="app-current-protection__col col-6">
            <div class="form-group">
              <label for="name">Premiums</label>
              <input type="text" class="form-control" placeholder="Client 1">
            </div>
          </div>
          <div class="app-current-protection__col--nopad col-6">
            <div class="form-group">
              <label for="name">&nbsp;</label>
              <input type="text" class="form-control" placeholder="Client 2">
            </div>
          </div>
        </div>

        <div class="app-current-protection__row row">
          <div class="app-current-protection__col col-6">
            <div class="form-group">
              <label for="name">Cover Type</label>
              <input type="text" class="form-control" placeholder="Client 1">
            </div>
          </div>
          <div class="app-current-protection__col--nopad col-6">
            <div class="form-group">
              <label for="name">&nbsp;</label>
              <input type="text" class="form-control" placeholder="Client 2">
            </div>
          </div>
        </div>

        <div class="app-current-protection__row row">
          <div class="app-current-protection__col col-6">
            <div class="form-group">
              <label for="name">Children Covered?</label>
              <input type="text" class="form-control" placeholder="Client 1">
            </div>
          </div>
          <div class="app-current-protection__col--nopad col-6">
            <div class="form-group">
              <label for="name">&nbsp;</label>
              <input type="text" class="form-control" placeholder="Client 2">
            </div>
          </div>
        </div>

      </div>
      <div class="app-current-protection__actions">
          <div class="spacer"></div>
          <button class="no-shadow mr5 action-btn" mat-raised-button>BACK</button>
          <button color="primary" class="no-shadow action-btn" mat-raised-button>SAVE</button>
        </div>
    </form>


    

  </div>
</div>
