<div class="app-future-protection">
  <div class="col-8">

    <form [formGroup]="incomeGroup">
      <div class="app-future-protection__content">

        <div class="app-future-protection__row app-future-protection__header app-future-protection__heading">
            <h2>Protection - What's your insurance needs?</h2>
        </div>

        <div class="app-future-protection__row app-future-protection__section">
            <h2>In the event of your death, what needs to happen financially?</h2>
        </div>

        <div class="app-future-protection__row row">
          <div class="app-future-protection__col col-6">
            <div class="form-group">
              <label for="name">Debt Repaid</label>
              <input type="text" class="form-control" placeholder="Client 1">
            </div>
          </div>
          <div class="app-future-protection__col--nopad col-6">
            <div class="form-group">
              <label for="name">&nbsp;</label>
              <input type="text" class="form-control" placeholder="Client 2">
            </div>
          </div>
        </div>

        <div class="app-future-protection__row row">
          <div class="app-future-protection__col col-6">
            <div class="form-group">
              <label for="name">Funeral</label>
              <input type="text" class="form-control" placeholder="Client 1">
            </div>
          </div>
          <div class="app-future-protection__col--nopad col-6">
            <div class="form-group">
              <label for="name">&nbsp;</label>
              <input type="text" class="form-control" placeholder="Client 2">
            </div>
          </div>
        </div>

        <div class="app-future-protection__row row">
          <div class="app-future-protection__col col-6">
            <div class="form-group">
              <label for="name">Family Expense</label>
              <input type="text" class="form-control" placeholder="Client 1">
            </div>
          </div>
          <div class="app-future-protection__col--nopad col-6">
            <div class="form-group">
              <label for="name">&nbsp;</label>
              <input type="text" class="form-control" placeholder="Client 2">
            </div>
          </div>
        </div>

        <div class="app-future-protection__row row">
          <div class="app-future-protection__col col-6">
            <div class="form-group">
              <label for="name">Education Fund</label>
              <input type="text" class="form-control" placeholder="Client 1">
            </div>
          </div>
          <div class="app-future-protection__col--nopad col-6">
            <div class="form-group">
              <label for="name">&nbsp;</label>
              <input type="text" class="form-control" placeholder="Client 2">
            </div>
          </div>
        </div>

        <div class="app-future-protection__row row">
          <div class="app-future-protection__col col-6">
            <div class="form-group">
              <label for="name">Anything Else</label>
              <input type="text" class="form-control" placeholder="Client 1">
            </div>
          </div>
          <div class="app-future-protection__col--nopad col-6">
            <div class="form-group">
              <label for="name">&nbsp;</label>
              <input type="text" class="form-control" placeholder="Client 2">
            </div>
          </div>
        </div>


        <div class="app-future-protection__row app-future-protection__section">
            <h2>In the event that you can no longer work, what will you need financially?</h2>
        </div>

        <div class="app-future-protection__row row">
          <div class="app-future-protection__col col-6">
            <div class="form-group">
              <label for="name">Basic Living Costs</label>
              <input type="text" class="form-control" placeholder="Client 1">
            </div>
          </div>
          <div class="app-future-protection__col--nopad col-6">
            <div class="form-group">
              <label for="name">&nbsp;</label>
              <input type="text" class="form-control" placeholder="Client 2">
            </div>
          </div>
        </div>

        <div class="app-future-protection__group">
            <div class="app-future-protection__row row">
                <div class="app-future-protection__col col-6">
                    <div class="form-group">
                    <label for="name">Mortgage Repayment</label>
                    <input type="text" class="form-control" placeholder="Client 1">
                    </div>
                </div>
                <div class="app-future-protection__col--nopad col-6">
                    <div class="form-group">
                    <label for="name">&nbsp;</label>
                    <input type="text" class="form-control" placeholder="Client 2">
                    </div>
                </div>
            </div>

            <div class="app-future-protection__row row">
                <div class="app-future-protection__col col-6">
                    <div class="form-group">
                    <label for="name">For How Long?</label>
                    <input type="text" class="form-control" placeholder="Client 1">
                    </div>
                </div>
                <div class="app-future-protection__col--nopad col-6">
                    <div class="form-group">
                    <label for="name">&nbsp;</label>
                    <input type="text" class="form-control" placeholder="Client 2">
                    </div>
                </div>
            </div>
        </div>

        <div class="app-future-protection__group">
            <div class="app-future-protection__row row">
            <div class="app-future-protection__col col-6">
                <div class="form-group">
                <label for="name">Lump Sum</label>
                <input type="text" class="form-control" placeholder="Client 1">
                </div>
            </div>
            <div class="app-future-protection__col--nopad col-6">
                <div class="form-group">
                <label for="name">&nbsp;</label>
                <input type="text" class="form-control" placeholder="Client 2">
                </div>
            </div>
            </div>

            <div class="app-future-protection__row row">
            <div class="app-future-protection__col col-6">
                <div class="form-group">
                <label for="name">- For What?</label>
                <input type="text" class="form-control" placeholder="Client 1">
                </div>
            </div>
            <div class="app-future-protection__col--nopad col-6">
                <div class="form-group">
                <label for="name">&nbsp;</label>
                <input type="text" class="form-control" placeholder="Client 2">
                </div>
            </div>
            </div>
        </div>

        <div class="app-future-protection__row app-future-protection__section">
            <h2>In the event that you have a major illness, that may temporarily see you off work for a period of time, what do you need?</h2>
        </div>

        <div class="app-future-protection__group">
            <div class="app-future-protection__row row">
            <div class="app-future-protection__col col-6">
                <div class="form-group">
                <label for="name">Medical Insurance</label>
                <input type="text" class="form-control" placeholder="Client 1">
                </div>
            </div>
            <div class="app-future-protection__col--nopad col-6">
                <div class="form-group">
                <label for="name">&nbsp;</label>
                <input type="text" class="form-control" placeholder="Client 2">
                </div>
            </div>
            </div>

            <div class="app-future-protection__row row">
            <div class="app-future-protection__col col-6">
                <div class="form-group">
                <label for="name">- For Who?</label>
                <input type="text" class="form-control" placeholder="Client 1">
                </div>
            </div>
            <div class="app-future-protection__col--nopad col-6">
                <div class="form-group">
                <label for="name">&nbsp;</label>
                <input type="text" class="form-control" placeholder="Client 2">
                </div>
            </div>
            </div>
        </div>

        <div class="app-future-protection__group">

            <div class="app-future-protection__row row">
            <div class="app-future-protection__col col-6">
                <div class="form-group">
                <label for="name">Lump Sum Trauma?</label>
                <input type="text" class="form-control" placeholder="Client 1">
                </div>
            </div>
            <div class="app-future-protection__col--nopad col-6">
                <div class="form-group">
                <label for="name">&nbsp;</label>
                <input type="text" class="form-control" placeholder="Client 2">
                </div>
            </div>
            </div>

            <div class="app-future-protection__row row">
                <div class="app-future-protection__col col-6">
                <div class="form-group">
                    <label for="name">- For Who?</label>
                    <input type="text" class="form-control" placeholder="Client 1">
                </div>
                </div>
                <div class="app-future-protection__col--nopad col-6">
                <div class="form-group">
                    <label for="name">&nbsp;</label>
                    <input type="text" class="form-control" placeholder="Client 2">
                </div>
                </div>
            </div>
        </div>

        

      </div>
      <div class="app-future-protection__actions">
          <div class="spacer"></div>
          <button class="no-shadow mr5 action-btn" mat-raised-button>BACK</button>
          <button color="primary" class="no-shadow action-btn" mat-raised-button>SAVE</button>
        </div>
    </form>


    

  </div>
</div>
