<div class="app-create-client">
    <form [formGroup]="group" (ngSubmit)="save()">
      

        <div class="app-create-client__row app-create-client__header">
            <h2>Personal Information</h2>
        </div>

        <div class="app-create-client__content">

        <div class="app-create-client__row row">
          <div class="app-create-client__col col-6">
            <div class="form-group">
              <label for="name">Fullname</label>
              <input type="text" class="form-control" placeholder="Name">
            </div>
          </div>
          <div class="app-create-client__col--end col-6">
            <div class="form-group">
              <label for="name">Date Of Birth (dd/mm/yyyy)</label>
              <input type="text" class="form-control" placeholder="Date Of Birth">
            </div>
          </div>
        </div>

        <div class="app-create-client__row row">
          <div class="app-create-client__col col-6">
            <div class="form-group">
              <label for="name">Mobile</label>
              <input type="text" class="form-control" placeholder="Mobile">
            </div>
          </div>
          <div class="app-create-client__col--end col-6">
            <div class="form-group">
              <label for="name">Home Phone</label>
              <input type="text" class="form-control" placeholder="Home Phone">
            </div>
          </div>
        </div>

        <div class="app-create-client__row row">
          <div class="app-create-client__col col-6">
            <div class="form-group">
              <label for="name">Email</label>
              <input type="text" class="form-control" placeholder="Email">
            </div>
          </div>
          <div class="app-create-client__col--end col-6">
            <div class="app-create-client__check">
                <mat-checkbox>Unsubscribe to emails</mat-checkbox>
            </div>
          </div>
        </div>

        <!--<div class="app-create-client__row app-create-client__section">
            <h2>Employment Information</h2>
        </div>

        <div class="app-create-client__row row">
            <div class="form-group">
              <label for="country">Employer</label>
              <input type="text" class="form-control" placeholder="Employer">
            </div>
        </div>

        <div class="app-create-client__row row">

          <div class="app-create-client__col col-6">
            <div class="form-group">
              <label for="name">Wages/Salary/Rate</label>
              <input type="text" class="form-control" placeholder="Salary">
            </div>
          </div>
          <div class="app-create-client__col--end col-6">
              <div class="form-group">
                <label for="name">Frequency</label>
                <div ngbDropdown class="d-inline-block">
                  <button class="btn app-create-client__btn" id="dropdownBasic1" ngbDropdownToggle>Frequency</button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button class="dropdown-item">Weekly</button>
                    <button class="dropdown-item">Fortnightly</button>
                    <button class="dropdown-item">Monthly</button>
                    <button class="dropdown-item">Annual</button>
                  </div>
                </div>
              </div>
          </div>
        </div>

        <div class="app-create-client__row row">
          <div class="app-create-client__col col-6">
            <div class="form-group">
              <label for="name">Employer</label>
              <input type="text" class="form-control" placeholder="Employer">
            </div>
          </div>
          <div class="app-create-client__col--end col-6">
            <div class="form-group">
              <label for="name">Duration</label>
              <input type="text" class="form-control" placeholder="Duration">
            </div>
          </div>
        </div>

        <div class="app-create-client__row row">
          <div class="app-create-client__col col-6">
            <div class="form-group">
              <label for="name">Previous Employers (If less than 3 years)</label>
              <input type="text" class="form-control" placeholder="Employer">
            </div>
          </div>
          <div class="app-create-client__col--end col-6">
            <div class="form-group">
              <label for="name">Duration</label>
              <input type="text" class="form-control" placeholder="Duration">
            </div>
          </div>
        </div>

        <div class="app-create-client__row row">
          <div class="app-create-client__col col-6">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Employer">
            </div>
          </div>
          <div class="app-create-client__col--end col-6">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Duration">
            </div>
          </div>
        </div>

        <div class="app-create-client__row row">
          <div class="app-create-client__col col-6">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Employer">
            </div>
          </div>
          <div class="app-create-client__col--end col-6">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Duration">
            </div>
          </div>
        </div>-->
      </div>
      <div class="app-create-client__actions">
          <div class="spacer"></div>
          <button class="no-shadow mr5 action-btn" mat-button color="primary">BACK</button>
          <button color="primary" class="no-shadow action-btn" mat-raised-button>SAVE</button>
        </div>
    </form>
</div>
