<div class="row">
    <div class="col-8">
        <app-create-contact></app-create-contact>
    </div>
</div>

<div class="row">
    <div class="col-8">
        <app-create-financials></app-create-financials>
    </div>
</div>

<div class="row">
    <div class="col-8">
        <app-preferences></app-preferences>
    </div>
</div>

<div class="row">
    <div class="col-8">
        <app-current-protection></app-current-protection>
    </div>
</div>

<div class="row">
    <div class="col-8">
        <app-future-protection></app-future-protection>
    </div>
</div>
