.app-facts {
    
    &__step {
        display: inline-block;
        text-align: center;
        padding: 10px 30px;

        &--title {
            color: #ff0000;
            font-weight: 600;
            margin-top: 5px;
        }

        &--button {
            font-weight: 700;
        }
    }
}