
<!--<div class="app-facts">
    <div class="app-facts__steps">
        <div class="app-facts__step">
            <button mat-mini-fab disabled class="app-facts__step--button no-shadow">1</button>
            <div class="app-facts__step--title">
                Contact Information
            </div>
        </div>
        <div class="app-facts__step">
            <button mat-mini-fab disabled class="app-facts__step--button no-shadow">2</button>
            <div class="app-facts__step--title">
                Contact Information
            </div>
        </div>
        <div class="app-facts__step">
            <button mat-mini-fab disabled class="app-facts__step--button no-shadow">3</button>
            <div class="app-facts__step--title">
                Contact Information
            </div>
        </div>
    </div>
</div>-->

<div class="row">
    <div class="col-8">
        <app-create-contact></app-create-contact>
    </div>
</div>

<div class="row">
    <div class="col-8">
        <app-create-financials></app-create-financials>
    </div>
</div>

<div class="row">
    <div class="col-8">
        <app-preferences></app-preferences>
    </div>
</div>

<div class="row">
    <div class="col-8">
        <app-current-protection></app-current-protection>
    </div>
</div>

<div class="row">
    <div class="col-8">
        <app-future-protection></app-future-protection>
    </div>
</div>
