<div *ngIf="(state$ | async)!.loading" class="app-client">
    <div class="app-client__loader">
      <mat-spinner diameter="25" strokeWidth="3"></mat-spinner>
    </div>
  </div>

  <div *ngIf="(state$ | async)!.loading === false" class="app-client">

    <div *ngIf="(state$ | async).client.contacts.length == 0">
      <div class="row">
        <div class="col-3"></div>
        <div class="col-6 app-client__empty-state">
            <h2>Alright, let's add some clients</h2>
            <img class="app-client__hero" src="assets/images/space-illo.svg" alt="">
            <p>We know all the shortcuts because we live here! We'll help you find and create the campaigns you need.</p>
            <button class="no-shadow" color="accent" mat-raised-button (click)="create()">CREATE NEW CLIENT</button>
        </div>
      </div>
    </div>

    <div *ngIf="(state$ | async).client.contacts.length > 0">

        <mat-tab-group>
          <mat-tab label="CONTACTS">
            <app-contacts [client]="(state$ | async).client"></app-contacts>
          </mat-tab>
          <mat-tab label="FINANCIALS">
            <p>...</p>
          </mat-tab>
          <mat-tab label="PROTECTION">
            <p>...</p>
          </mat-tab>
          <mat-tab label="PREFERENCES">
            <p>...</p>
          </mat-tab>
        </mat-tab-group>


    </div>


  </div>



