@import '../../../styles/variables';

.app-clients {

  &__loader {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    white-space: nowrap;
    flex-direction: row;
    // justify-content: center;
    margin-top: 10px;
  }

  &__header {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    white-space: nowrap;
    width: 100%;
    flex-direction: row;
    padding: 4px 4px 4px 6px;
    margin-bottom: 10px;
  }

  &__header--total {
    color: $primary;
    font-weight: 600;
    font-size: 1rem;
  }

  &__add {
    box-shadow: none;
    line-height: 30px;
    padding: 0 12px;
    font-size: 12px;
  }

  h5 {
    color: $primary;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    font-weight: 600;
  }
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: none;
  border: $grey-border;
  border-top: none;
}

.mat-expansion-panel:first-child {
  border-top: $grey-border;
}

.mat-expansion-panel-spacing {
  border-top: $grey-border !important;
}

.mat-expansion-panel-spacing + .mat-expansion-panel {
  border-top: $grey-border;
}
