<table class="table table-responsive">
  <thead>
    <tr>
      <th>FIRST NAME</th>
      <th>LAST NAME</th>
      <th>USERNAME</th>
      <th>DOB</th>
      <th>GENDER</th>
      <th>PHONE</th>
      <th>MOBILE</th>
      <th>ROLE</th>
      <th>
        ...
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let contact of contacts">
      <td class="clients-table__primary-column">{{contact.firstname}}</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>6/10/2017</td>
      <td>M</td>
      <td>000000000</td>
      <td>000000000</td>
      <td>Adult</td>
      <td></td>
    </tr>
  </tbody>
</table>
