@import '../../styles/variables';

.app-protection {

  h2 {
    color: #434548;
    font-size: 22px;
  }

  &__table-actions {
      display: flex;
      box-sizing: border-box;
      align-items: center;
      white-space: nowrap;
      padding: 0 0 10px 0;
  }

  &__header {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    white-space: nowrap;
    width: 100%;
    flex-direction: row;
    padding: 10px;
    border: $grey-border;
    border-bottom: none;
    
    &--total {
        color: $primary;
    }

    &--title {
        font-weight: 600;
        font-size: 1rem;
        margin-left: 10px;
    }
  }

  &__col {
    padding-left: 0;
  }

  &__item {
    padding: 10px;
    border-bottom: 1px solid $silverback;
    color: $black;
    font-size: 14px;

    &--name {
      color: $primary;
      font-weight: 500;
      font-size: 16px;
      margin-bottom: 1px;
    }

    &--email {
      color: #96a3b6;
      font-weight: 400;
    }

    &--phone {
      font-weight: 500;
      font-size: 13px;
    }

    &--dot {
      font-weight: 500;
      font-size: 22px;
      line-height: 14px;
      display: inline-block;
    }

  }

  &__actions {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    white-space: nowrap;
    width: 100%;
    flex-direction: row;
    padding: 10px 0;
  }

  &__primary-column {
    color: $primary;
    font-weight: 600;
  }

  &__column {
    &--50 {
        width: 40px;
        text-align: center;
    }

    &--80 {
        width: 80px;
    }

    &--100 {
        width: 100px;
    }

    &--150 {
        width: 150px;
    }

    &--200 {
        width: 200px;
    }
    
    
  }

  &__action-btn {
    width: 24px;
    height: 24px;
    line-height: 20px;
  }

  &__action-icon {
    font-size: 18px;
  }

  &__row {
    cursor: pointer;
  }

  thead {
    border: $grey-border;
    background: #fafafa
  }

  .table td {
    padding: 10px 15px;
    font-size: 0.8rem;
  }

  .table thead th {
    font-size: 12px;
    font-weight: 500;
    padding: 15px;
  }

  .table tbody {
    border: $grey-border;
    border-top: none;
  }

  .table {
    background: #fff;
    margin-bottom: 0;
  }
}


