<ng2-slim-loading-bar [color]="'#3f51b5'"></ng2-slim-loading-bar>
<mat-toolbar class="app-header">

  <mat-toolbar-row>
    <button mat-icon-button (click)="toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <h5 class="app-header__logo">Fightclub</h5>
    <div class="menu-separator"></div>
    <h5 class="app-header__title">{{title}}</h5>

    <!-- <app-search></app-search> -->

    <span class="spacer"></span>
    <app-notifications [notifications]="notifications" (update)="updateNotifications()"></app-notifications>
    <button mat-icon-button routerLink="/schedules"><mat-icon>favorite</mat-icon></button>
    <button mat-icon-button routerLink="/drag"><mat-icon>keyboard_arrow_left</mat-icon></button>
    <button mat-icon-button routerLink="/dash"><mat-icon>delete</mat-icon></button>
  </mat-toolbar-row>

  <mat-toolbar-row class="action-row" *ngIf="status == 'scheduler'">
    <button mat-button>Schedules</button>
    <mat-icon>keyboard_arrow_right</mat-icon>
    <button mat-button>Scheduler</button>
    <div class="sub-menu">
      <mat-tab-group>
        <mat-tab label="FOLLOWING"></mat-tab>
        <mat-tab label="SCHEDULER"></mat-tab>
        <mat-tab label="TYPES"></mat-tab>
      </mat-tab-group>
      <div class="separator" style="margin-top: 16px;"></div>
      <button mat-button color="primary">SCHEDULE</button>
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row class="action-row" *ngIf="status == 'customer'">
    <button mat-button>Customers</button>
    <mat-icon>keyboard_arrow_right</mat-icon>
    <button mat-button>Details</button>
    <div class="container">
      <div class="row">
        <div class="col-8">
            <div class="sub-menu">
                <mat-tab-group>
                  <mat-tab label="DETAILS"></mat-tab>
                  <mat-tab label="WORKFLOW"></mat-tab>
                  <mat-tab label="NOTIFICATIONS"></mat-tab>
                </mat-tab-group>
                <div class="separator" style="margin-top: 16px;"></div>
                <button mat-button color="primary">SCHEDULE</button>
            </div>
        </div>
      </div>
    </div>
  </mat-toolbar-row>

</mat-toolbar>

<mat-menu></mat-menu>

<mat-sidenav-container fullscreen class="app-container" [ngStyle]="styles" >

  <mat-sidenav #sidenav class="app-sidenav" mode="side" opened="true">

      <div class="menu-container">

        <button class="mat-menu-item" mat-menu-item="" routerLink="/dash"><mat-icon>home</mat-icon> Home
          <div class="mat-menu-ripple mat-ripple" matRipple></div>
        </button>

        <button class="mat-menu-item" mat-menu-item="" routerLink="/customers"><mat-icon>language</mat-icon> Schedules
          <div class="mat-menu-ripple mat-ripple" matRipple></div>
        </button>

        <button class="mat-menu-item" mat-menu-item="" routerLink="/customers"><mat-icon>event</mat-icon> Sessions
          <div class="mat-menu-ripple mat-ripple" matRipple></div>
        </button>

        <button class="mat-menu-item" mat-menu-item="" routerLink="/customers"><mat-icon>fingerprint</mat-icon> Australia
          <div class="mat-menu-ripple mat-ripple" matRipple></div>
        </button>

        <button class="mat-menu-item" mat-menu-item="" routerLink="/customers"><mat-icon>person</mat-icon> Staff
          <div class="mat-menu-ripple mat-ripple" matRipple></div>
        </button>

        <button class="mat-menu-item" mat-menu-item="" routerLink="/customers"><mat-icon>people</mat-icon> Customers
          <div class="mat-menu-ripple mat-ripple" matRipple></div>
        </button>

        <button class="mat-menu-item" mat-menu-item="" routerLink="/customers"><mat-icon>account_circle</mat-icon> Account
          <div class="mat-menu-ripple mat-ripple" matRipple></div>
        </button>

      </div>

  </mat-sidenav>

  <div class="app-content">

      <div class="container" style="padding-top: 20px;">

        <router-outlet></router-outlet>

      </div>

  </div>
</mat-sidenav-container>







