
<div class="app-schedules">

  <div class="app-schedules__header">
      <button mat-icon-button color="primary">
        <mat-icon aria-label="Example icon-button with a heart icon">keyboard_arrow_left</mat-icon>
      </button>
      <button mat-icon-button color="primary">
        <mat-icon aria-label="Example icon-button with a heart icon">keyboard_arrow_right</mat-icon>
      </button>
      <button mat-icon-button color="primary" class="app-actions-bar__calendar-button">
        <mat-icon>event</mat-icon>
      </button>

      <div class="spacer"></div>
      
      <button color="primary" mat-raised-button>NEW <mat-icon>add</mat-icon></button>
  </div>

  <div class="app-schedules__content">
    <div class="app-schedules__item" *ngFor="let item of items">
      Incredible Hulk
      <span class="spacer"></span>
      <button class="app-schedules__action" mat-icon-button><mat-icon>more_vert</mat-icon></button>
    </div>
  </div>
  


</div>


