.app-schedules {
  margin-top: 10px;

  &__card {
    flex: 1 0 200px;
    flex: 1 0 280px;
    margin: 10px;
    box-sizing: border-box;
    max-width: 300px;
  }

  &__header {
    background: #fafafa;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    padding: 4px 10px;
    border: 1px solid #dedede;
    margin-bottom: 10px;
  }

  &__empty-state {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column; /* works with row or column */
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
  }

  &__content { 
    border: 1px solid #dedede;
    background: #fafafa;
  }

  &__item {
    padding: 5px 10px 5px 20px;
    cursor: pointer;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    border-bottom: 1px dashed #eaeaea;
  }

  &__item:hover {
    background: rgba(0,0,0,.01);
  }

  &__action {
    color: #666;
  }

  

  // &__item {
  //   cursor: pointer; display: flex; box-sizing: border-box; flex-direction: row; border-bottom: 1px solid #dedede;
  // }

  // &__item--col {
  //   flex: 1 1 0; box-sizing: border-box;
  //   padding: 10px;
  // }

  // &__item:nth-child(even) {
  // }

  // &__item:nth-child(odd) {
  //   background: #fafafa;
  // }

}
