<div class="container">
  <div class="row">
    <div class="col-sm-9">

      <div class="app-insurance">

        <div class="app-insurance__header">
            Existing Benefits
            <div class="spacer"></div>
            <button color="primary" mat-raised-button (click)="create()">NEW <mat-icon>add</mat-icon></button>
        </div>

        <div class="app-insurance__content">
          <div class="app-insurance__item" *ngFor="let contact of contacts" (click)="details(contact)">
            Incredible Hulk
            <span class="spacer"></span>
            <!--<button class="app-insurance__action" mat-icon-button><mat-icon>more_vert</mat-icon></button>-->
          </div>
        </div>
      </div>


    </div>
    <div class="col-sm-3">
      <div class="app-insurance__recent-header">
        <div class="app-insurance__recent-title">
          Latest Activity
        </div>
      </div>
      <div class="app-insurance__recent" *ngFor="let contact of contacts">
        {{ contact.name }}
      </div>

    </div>
  </div>
</div>
