@import '../../styles/variables';

.app-insurance__container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;

  .mat-header-row {
    background: #fafafa;
    padding: 10px 15px;
  }

  .mat-row {
    padding: 10px 10px 10px 20px;
    cursor: pointer;
    border-bottom: 1px dashed #eaeaea;
    font-size: 0.9rem;
  }

  .mat-table {
      border: 1px solid #dedede;
      border-bottom: none;
      overflow: auto;
  }

  .mat-paginator-container {
      border: 1px solid #dedede;
      border-top: none;
  }

  .actions-cell {
      flex: 0.3;
  }
  
}

.insurance-actions {
    color: $primary;
}


