<div class="app-login app-login__gradient">
  <div id="stripes">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div class="container">
    <div class="app-login__logo">
      <img src="/assets/images/hero.png">
    </div>
    <div class="app-login__container">
        <mat-card class="app-login__card">
            <h3 class="app-login__title">LOGIN TO YOUR ACCOUNT</h3>
            <div class="input-group app-login__group">
              <span class="input-group-addon" id="basic-addon1">U</span>
              <input type="text" class="form-control" placeholder="Email/Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group app-login__group">
              <span class="input-group-addon" id="basic-addon1">P</span>
              <input type="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
            </div>
            <button class="app-login__login-btn no-shadow" color="primary" mat-raised-button>LOGIN</button>
        </mat-card>
    </div>
    <div class="app-login__caption">
      <span class="announcement">
        <span class="new-pill">New</span>
        <span class="message">
            Build beautiful, smart checkout flows with Stripe Elements
        </span>
      </span>
    </div>
  </div>
</div>
