@import '../../../styles/variables';

.app-create-contact {

  &__hero {
    text-align: center;
    width: 100%;
  }

  &__header {
    margin-bottom: 20px;

    h2 {
      color: $primary !important;
      font-size: 1rem !important;
    }

  }

  &__section--top {
    margin: 0 0 20px 0;
  }

  &__section {
    margin: 20px 0;
  }

  h2 {
    color: #434548;
    font-size: 1rem;
  }

  &__input {
    width: 400px;
  }

  &__actions {
    display: flex;
    box-sizing: border-box;
    padding: 20px 0;
    margin-bottom: 30px;

    h2 {
      color: $primary;
    }
  }

  &__col {

    &--end {
      padding-right: 0;
    }

    padding-left: 0;
  }

  &__check {
    margin-top: 34px;
  }

  .form-group {
    width: 100%;
  }

  label {
    color: #484848;
    font-weight: 600;
    display: block;
  }

  input {
    border: 1px solid #c9c9c9;
  }

  &__btn {
    border: 1px solid #c9c9c9;
    background: #fff;
    width: 100%;
    color: #495057;
  }

  .custom-control-label {
    line-height: 24px;
    padding-left: 5px;
  }

}
