mwlResizable {
  box-sizing: border-box; // required for the enableGhostResize option to work
}

.app-calendar-block {
  width: 100%;
  height: 60px;
  position: absolute;
  z-index: 100;
  padding: 0;
  display: flex;

  &__inner {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    background: rgba(182, 236, 199, 0.2);
    border: 1px dashed #1ebd4b;
    padding: 3px;
  }

  &__inner span {
    font-size: 10px;
    color: #999;
  }

}


