@import '../../styles/variables';

.app-actions-bar {
  background: #f7f7f7;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  padding: 10px;
  border-bottom: 1px solid #dedede;

  &__title {
    color: $primary;
    font-weight: 500;
  }

  &__today, &__calendar-button  {
    margin-right: 10px;
  }

  .mat-button-toggle {
    color: #666;
  }

  .mat-button-toggle-group, .mat-button-toggle-standalone {
      box-shadow: none;
  }

}

.spacer {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
