@import '../../styles/variables';

.app-actions-bar {
  background: #f7f7f7;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  padding: 4px 10px;
  border-bottom: 1px solid #dedede;



  &__title {
    color: $primary;
    font-weight: 500;
    font-size: 13px;
  }

  &__today, &__calendar-button  {
    margin-right: 10px;
  }

  &__status {
    padding: 3px 10px 5px 10px;
    border: 1px solid #b0e4c7;
    background: #d8f1e0;
    color: #009020;
    font-weight: 500;
    font-size: 13px;
  }

  .mat-button-toggle {
    color: #666;
  }

  .mat-button-toggle-group, .mat-button-toggle-standalone {
      box-shadow: none;
  }

  .event-selector {
    margin-right: 5px;
  }

}

.mat-menu-item .mat-icon.indicator {
  color: $primary;
  margin-right: 8px;
  font-size: 12px;
  width: 12px;
  height: 14px;
}

.mat-menu-item {
  font-size: 14px;
}

.mat-menu-panel {
  width: 215px;
}

.spacer {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
