.app-calendar {
  border: 1px solid  #e1e1e1;
  min-width: 500px;

  &__grid {
    position: relative;
    z-index: 0;
  }

  &__container {
    width: 100%;
    overflow: auto;
    min-height: 400px;
    max-height: calc(100vh - 300px);
    //max-height: 700px;
  }

  &__layout {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #ff0000;
    opacity: 0.1;
    z-index: 100;
  }

  &__block--booking {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: rgba(204, 204, 204, 0.49);
    border: 2px dashed #8e8e8e;
  }


  &__hour-row .row {
    border-bottom: thin dotted #e1e1e1;
    min-height: 15px;
    margin-right: 0;
    margin-left: 0;
    line-height: 10px;
    position: relative;
  }

  &__hour-row .row.row-border {
    border-bottom: thin dashed #ccc;
  }

  &__hour-row:nth-child(even) {
    background: #fafafa;
  }

  &__hour-row:nth-child(odd) {
    background: #fff;
  }

  &__hour-row .row .col:not(:last-child) {
    border-right: solid 1px #e1e1e1;
  }

  &__hour-row .row .col {
    padding-right: 0;
    padding-left: 0;
    position: relative;
  }

  &__header-row {
    font-size: 12px;
    font-weight: 500;
    background-color: #fff;
    margin-right: 0;
    margin-left: 0;
    text-align: center;
    border-bottom: solid 1px #e1e1e1;
    padding: 8px 0;
  }


   &__hour-row .row .label {
     font-size: 10px;
     color: #333;
     line-height: 0;
   }

}
