<app-calendar-bar text="Oct 8 – 14, 2017"></app-calendar-bar>

<div class="app-calendar">

  <!--<app-actions-bar text="Oct 8 – 14, 2017"></app-actions-bar>-->

  <div class="app-calendar__grid">

    <div class="row app-calendar__header-row">
      <!--<div class="col-sm-1"></div>-->
      <div class="col">
        MON
      </div>
      <div class="col">TUE</div>
      <div class="col">WED</div>
      <div class="col">THU</div>
      <div class="col">FRI</div>
      <div class="col">SAT</div>
      <div class="col">SUN</div>
    </div>

    <div #grid class="app-calendar__container">

      <div class="app-calendar__hour-row" *ngFor="let hr of hours" >
        <div class="row">
          <app-calendar-cell class="col">
            <app-calendar-block text="2.00-3.00p" *ngIf="hr.hour==0" boundry="0" time="3"></app-calendar-block>
            <app-calendar-block text="2.00-3.00p" *ngIf="hr.hour==0" boundry="0" time="5"></app-calendar-block>
            <app-calendar-block text="2.00-3.00p" *ngIf="hr.hour==0" boundry="0" time="9"></app-calendar-block>
          </app-calendar-cell>
          <app-calendar-cell class="col" (clicked)="cellClicked($event)"></app-calendar-cell>
          <app-calendar-cell class="col" (clicked)="cellClicked($event)"></app-calendar-cell>
          <app-calendar-cell class="col" (clicked)="cellClicked($event)"></app-calendar-cell>
          <app-calendar-cell class="col" (clicked)="cellClicked($event)"></app-calendar-cell>
          <app-calendar-cell class="col" (clicked)="cellClicked($event)"></app-calendar-cell>
          <app-calendar-cell class="col" (clicked)="cellClicked($event)"></app-calendar-cell>
        </div>
        <div class="row">
          <app-calendar-cell class="col" (clicked)="cellClicked($event)"></app-calendar-cell>
          <app-calendar-cell class="col" (clicked)="cellClicked($event)"></app-calendar-cell>
          <app-calendar-cell class="col" (clicked)="cellClicked($event)"></app-calendar-cell>
          <app-calendar-cell class="col" (clicked)="cellClicked($event)"></app-calendar-cell>
          <app-calendar-cell class="col" (clicked)="cellClicked($event)"></app-calendar-cell>
          <app-calendar-cell class="col" (clicked)="cellClicked($event)"></app-calendar-cell>
          <app-calendar-cell class="col" (clicked)="cellClicked($event)"></app-calendar-cell>
        </div>
        <div class="row">
          <app-calendar-cell class="col" (clicked)="cellClicked($event)"></app-calendar-cell>
          <app-calendar-cell class="col" (clicked)="cellClicked($event)"></app-calendar-cell>
          <app-calendar-cell class="col" (clicked)="cellClicked($event)"></app-calendar-cell>
          <app-calendar-cell class="col" (clicked)="cellClicked($event)"></app-calendar-cell>
          <app-calendar-cell class="col" (clicked)="cellClicked($event)"></app-calendar-cell>
          <app-calendar-cell class="col" (clicked)="cellClicked($event)"></app-calendar-cell>
          <app-calendar-cell class="col" (clicked)="cellClicked($event)"></app-calendar-cell>
        </div>
        <div class="row row-border">
          <app-calendar-cell class="col" (clicked)="cellClicked($event)"></app-calendar-cell>
          <app-calendar-cell class="col" (clicked)="cellClicked($event)"></app-calendar-cell>
          <app-calendar-cell class="col" (clicked)="cellClicked($event)"></app-calendar-cell>
          <app-calendar-cell class="col" (clicked)="cellClicked($event)"></app-calendar-cell>
          <app-calendar-cell class="col" (clicked)="cellClicked($event)"></app-calendar-cell>
          <app-calendar-cell class="col" (clicked)="cellClicked($event)"></app-calendar-cell>
          <app-calendar-cell class="col" (clicked)="cellClicked($event)"></app-calendar-cell>
        </div>
      </div>

    </div>
  </div>
</div>

