<!--<app-calendar-bar text="Oct 8 – 14, 2017"></app-calendar-bar>-->


<div class="app-calendar">

  <app-actions-bar text="Oct 8 – 14, 2017"></app-actions-bar>




  <div class="app-calendar__grid">

    <!--<div class="app-calendar__timeline">
      <div class="app-calendar__timeline-header-block"></div>
      <div class="app-calendar__timeline-hour-block___4H8t7"><span></span></div>
      <div class="app-calendar__timeline-hour-block___4H8t7"><span>15:00</span></div>
      <div class="app-calendar__timeline-hour-block___4H8t7"><span>15:00</span></div>
      <div class="app-calendar__timeline-hour-block___4H8t7"><span>15:00</span></div>
      <div class="app-calendar__timeline-hour-block___4H8t7"><span>15:00</span></div>
      <div class="app-calendar__timeline-hour-block___4H8t7"><span>15:00</span></div>
      <div class="app-calendar__timeline-hour-block___4H8t7"><span>15:00</span></div>
      <div class="app-calendar__timeline-hour-block___4H8t7"><span>15:00</span></div>
      <div class="app-calendar__timeline-hour-block___4H8t7"><span>15:00</span></div>
    </div>-->

    <div class="app-calendar__content">

      <div class="row app-calendar__header-row" >
        <div class="col">
          MON 8/10
        </div>
        <div class="col">TUE 9/10</div>
        <div class="col">WED 10/10</div>
        <div class="col">THU 11/10</div>
        <div class="col">FRI 12/10</div>
        <div class="col">SAT 13/10</div>
        <div class="col">SUN 14/10</div>
      </div>

      <div #grid class="app-calendar__container app-calendar__block" ng-reflect-layout="row">

        <div class="app-calendar__timeline app-calendar__block--col" style="max-width: 50px;">
          <div class="app-calendar__timeline-hour-block___4H8t7"><span></span></div>
          <div class="app-calendar__timeline-hour-block___4H8t7"><span>01:00</span></div>
          <div class="app-calendar__timeline-hour-block___4H8t7"><span>02:00</span></div>
          <div class="app-calendar__timeline-hour-block___4H8t7"><span>03:00</span></div>
          <div class="app-calendar__timeline-hour-block___4H8t7"><span>04:00</span></div>
          <div class="app-calendar__timeline-hour-block___4H8t7"><span>05:00</span></div>
          <div class="app-calendar__timeline-hour-block___4H8t7"><span>06:00</span></div>
          <div class="app-calendar__timeline-hour-block___4H8t7"><span>07:00</span></div>
          <div class="app-calendar__timeline-hour-block___4H8t7"><span>08:00</span></div>
          <div class="app-calendar__timeline-hour-block___4H8t7"><span>09:00</span></div>
          <div class="app-calendar__timeline-hour-block___4H8t7"><span>10:00</span></div>
          <div class="app-calendar__timeline-hour-block___4H8t7"><span>11:00</span></div>
          <div class="app-calendar__timeline-hour-block___4H8t7"><span>12:00</span></div>
          <div class="app-calendar__timeline-hour-block___4H8t7"><span>13:00</span></div>
          <div class="app-calendar__timeline-hour-block___4H8t7"><span>14:00</span></div>
          <div class="app-calendar__timeline-hour-block___4H8t7"><span>15:00</span></div>
          <div class="app-calendar__timeline-hour-block___4H8t7"><span>16:00</span></div>
          <div class="app-calendar__timeline-hour-block___4H8t7"><span>17:00</span></div>
          <div class="app-calendar__timeline-hour-block___4H8t7"><span>18:00</span></div>
          <div class="app-calendar__timeline-hour-block___4H8t7"><span>19:00</span></div>
          <div class="app-calendar__timeline-hour-block___4H8t7"><span>20:00</span></div>
          <div class="app-calendar__timeline-hour-block___4H8t7"><span>21:00</span></div>
          <div class="app-calendar__timeline-hour-block___4H8t7"><span>22:00</span></div>
          <div class="app-calendar__timeline-hour-block___4H8t7"><span>23:00</span></div>
        </div>

        <div class="app-calendar__hours-container app-calendar__block--col" style="position: relative">

          <div class="app-calendar__time-indicator" style="top: 290px;"><div class="app-calendar__timestamp">02:10</div></div>

          <div class="app-calendar__hour-row" *ngFor="let hr of hours" >
            <div class="row">
              <app-calendar-cell class="col">
                <app-calendar-block text="2.00-3.00p" *ngIf="hr.hour==0" boundry="0" time="3"></app-calendar-block>
                <app-calendar-block text="2.00-3.00p" *ngIf="hr.hour==0" boundry="0" time="5"></app-calendar-block>
                <app-calendar-block text="2.00-3.00p" *ngIf="hr.hour==0" boundry="0" time="9"></app-calendar-block>
              </app-calendar-cell>
              <app-calendar-cell class="col" (clicked)="cellClicked($event)"></app-calendar-cell>
              <app-calendar-cell class="col" (clicked)="cellClicked($event)"></app-calendar-cell>
              <app-calendar-cell class="col" (clicked)="cellClicked($event)"></app-calendar-cell>
              <app-calendar-cell class="col" (clicked)="cellClicked($event)"></app-calendar-cell>
              <app-calendar-cell class="col" (clicked)="cellClicked($event)"></app-calendar-cell>
              <app-calendar-cell class="col" (clicked)="cellClicked($event)"></app-calendar-cell>
            </div>
            <div class="row">
              <app-calendar-cell class="col" (clicked)="cellClicked($event)"></app-calendar-cell>
              <app-calendar-cell class="col" (clicked)="cellClicked($event)"></app-calendar-cell>
              <app-calendar-cell class="col" (clicked)="cellClicked($event)"></app-calendar-cell>
              <app-calendar-cell class="col" (clicked)="cellClicked($event)"></app-calendar-cell>
              <app-calendar-cell class="col" (clicked)="cellClicked($event)"></app-calendar-cell>
              <app-calendar-cell class="col" (clicked)="cellClicked($event)"></app-calendar-cell>
              <app-calendar-cell class="col" (clicked)="cellClicked($event)"></app-calendar-cell>
            </div>
            <div class="row">
              <app-calendar-cell class="col" (clicked)="cellClicked($event)"></app-calendar-cell>
              <app-calendar-cell class="col" (clicked)="cellClicked($event)"></app-calendar-cell>
              <app-calendar-cell class="col" (clicked)="cellClicked($event)"></app-calendar-cell>
              <app-calendar-cell class="col" (clicked)="cellClicked($event)"></app-calendar-cell>
              <app-calendar-cell class="col" (clicked)="cellClicked($event)"></app-calendar-cell>
              <app-calendar-cell class="col" (clicked)="cellClicked($event)"></app-calendar-cell>
              <app-calendar-cell class="col" (clicked)="cellClicked($event)"></app-calendar-cell>
            </div>
            <div class="row row-border">
              <app-calendar-cell class="col" (clicked)="cellClicked($event)"></app-calendar-cell>
              <app-calendar-cell class="col" (clicked)="cellClicked($event)"></app-calendar-cell>
              <app-calendar-cell class="col" (clicked)="cellClicked($event)"></app-calendar-cell>
              <app-calendar-cell class="col" (clicked)="cellClicked($event)"></app-calendar-cell>
              <app-calendar-cell class="col" (clicked)="cellClicked($event)"></app-calendar-cell>
              <app-calendar-cell class="col" (clicked)="cellClicked($event)"></app-calendar-cell>
              <app-calendar-cell class="col" (clicked)="cellClicked($event)"></app-calendar-cell>
            </div>
          </div>
        </div>



      </div>

    </div>







  </div>
</div>

