.app-calendar {
  border: 1px solid  #e1e1e1;
  min-width: 800px;

  &__block {
    display: flex; box-sizing: border-box; flex-direction: row;
  }

  &__block--col {
    flex: 1 1 0; box-sizing: border-box;
  }

  &__timeline-header-block {
    border-bottom: 1px solid #e1e1e1;
    height: 35px;
  }

  &__timeline-hour-block___4H8t7 {
    z-index: 3;
    color: #a9a9a9;
    font-weight: 500;
    min-height: 60px;
    position: relative;
    font-size: 11px;
    text-align: right;
    padding: 0 10px 10px 10px;
    border-right: 1px solid  #e1e1e1;
  }

  &__timeline-hour-block___4H8t7 span {
    display: block;
    position: relative;
    line-height: 0;
  }

  &__timeline-hour-block___4H8t7 span:after {
    content: "";
    position: absolute;
    height: 1px;
    width: 10px;
    right: -15px;
    background: #ced8db;
    top: -1px;
  }

  &__time-indicator {
    height: 1px;
    background: #ced8db;
    position: absolute;
    top: 0;
    left: -6px;
    right: 0;
    z-index: 5;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    pointer-events: none;
  }

  &__timestamp {
    position: absolute;
    color: #6e848b;
    background: #ced8db;
    border-radius: 3px;
    padding: 2px 5px;
    text-align: right;
    font-weight: 500;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    font-size: 12px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: -43px;
  }

  &__grid {
    position: relative;
    background: #fff;
    z-index: 0;
  }

  &__content {

  }

  &__container {
    width: 100%;
    overflow: auto;
    min-height: 400px;
    max-height: calc(100vh - 220px);
    //max-height: 700px;
  }

  &__layout {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #ff0000;
    opacity: 0.1;
    z-index: 100;
  }

  &__block--booking {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: rgba(204, 204, 204, 0.49);
    border: 2px dashed #8e8e8e;
  }


  &__hour-row .row {
    border-bottom: thin dotted #e1e1e1;
    min-height: 15px;
    margin-right: 0;
    margin-left: 0;
    line-height: 10px;
    position: relative;
  }

  &__hour-row .row.row-border {
    border-bottom: thin dashed #ccc;
  }

  &__hour-row:nth-child(even) {
    background: #fafafa;
  }

  &__hour-row:nth-child(odd) {
    background: #fff;
  }

  &__hour-row .row .col:not(:last-child) {
    border-right: solid 1px #e1e1e1;
  }

  &__hour-row .row .col {
    padding-right: 0;
    padding-left: 0;
    position: relative;
  }

  &__header-row {
    font-size: 12px;
    font-weight: 500;
    background-color: #fff;
    margin-right: 0;
    margin-left: 0;
    text-align: center;
    border-bottom: solid 1px #e1e1e1;
    padding: 8px 0;
  }


   &__hour-row .row .label {
     font-size: 10px;
     color: #333;
     line-height: 0;
   }

}
