@import '../../styles/variables';

.app-customer {
    &__header {
        background: #fafafa;
        display: flex;
        box-sizing: border-box;
        width: 100%;
        flex-direction: row;
        align-items: center;
        white-space: nowrap;
        padding: 10px 15px;
        border: 1px solid #dedede;
    }

    &__header button {
        color: #999;
    }

    &__header-details {
        margin-left: 15px;
    }

    &__header-details h4 {
        margin: 0;
        font-size: 1.1rem;
        font-weight: 500;
        line-height: 0.7rem;
    }

    &__header-subtitle {
        margin: 0;
        font-size: 0.7rem;
        font-weight: 400;
        color: #666;
    }

    &__status {
        padding: 3px 10px 5px 10px;
        border: 1px solid #b0e4c7;
        background: #d8f1e0;
        color: #009020;
        font-weight: 500;
        font-size: 13px;
    }



    &__avatar {
        overflow: hidden;
    }

    &__avatar-icon {
        // width: 32px;
        // height: 32px;
        // font-size: 32px;
        color: $primary;
    }

    &__details {
        background: #fff;
        border-left: 1px solid #dedede;
        border-right: 1px solid #dedede;
        border-bottom: 1px solid #dedede;
        padding: 25px;
        font-size: 0.9rem;
        margin-bottom: 20px;
    }

    &__label {
        color: #596981;
        font-weight: 400;
        font-size: 0.9rem;
    }

    &__details .row {
        margin-bottom: 10px;
    }

    &__details .col-3 {
        text-align: right;
    }

}

.plain {
    padding: 5px 10px;
}

.plain:focus {
    outline: #00FF00 dotted thick;
}
