
  <div class="app-contacts row">

    <div class="row">
      <div class="app-contacts__col col-8">


        <div class="app-contacts__header">
            <h2>Step 1: Contact Information</h2>
        </div>

        <div class="app-contacts__contact">
          <h3 class="app-contacts__contact--name">Mr Kelly Slater</h3>
          <!-- <span class="app-contacts__contact--email">kelly.slater@gmail.com</span> -->
          <!-- · <span class="app-contacts__contact--phone"><code>+61 457 492 089</code></span> -->
        </div>

        <div class="app-contacts__contact">
          <h3 class="app-contacts__contact--name">Kim Kardasian</h3>
          <!-- <span class="app-contacts__contact--email">kelly.slater@gmail.com</span> -->
          <!-- · <span class="app-contacts__contact--phone"><code>+61 457 492 089</code></span> -->
        </div>

        <div class="app-contacts__header">
            <!-- <div class="separator"></div> -->
            <div class="spacer"></div>
            <button class="mr5 action-btn" color="primary" mat-raised-button (click)="create()">ADD</button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="app-contacts__col col-8">
        <div class="app-contacts__header">
            <span class="app-contacts__header--title">Dependants</span>
        </div>
        <div class="app-contacts__contact">
          <span class="app-contacts__contact--name">Ace Rameka</span>
          <span class="spacer"></span>
          <span class="app-contacts__contact--email">6 June 1982 (11)</span>
        </div>
        <div class="app-contacts__contact">
          <span class="app-contacts__contact--name">Scarlett Rameka</span>
          <span class="spacer"></span>
          <span class="app-contacts__contact--email">6 June 1982 (7)</span>
        </div>

        <div class="app-contacts__contact">
          <span class="app-contacts__contact--name">Jake Rameka</span>
          <span class="spacer"></span>
          <span class="app-contacts__contact--email">6 June 1982 (4)</span>
        </div>

        <div class="app-contacts__contact">
          <span class="app-contacts__contact--name">Scottie Rameka</span>
          <span class="spacer"></span>
          <span class="app-contacts__contact--email">6 June 1982 (0)</span>
        </div>

        <div class="app-contacts__header">
            <!-- <div class="separator"></div> -->
            <div class="spacer"></div>
            <button class="mr5 action-btn" color="primary" mat-raised-button (click)="create()">ADD</button>
        </div>
      </div>
    </div>

  </div>
